<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
       

        .form-container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 500px;
        }

        .form-container label {
            display: block;
            margin-bottom: 8px;
            font-weight: bold;
        }

        .form-container input {
            width: 100%;
            padding: 8px;
            margin-bottom: 16px;
            box-sizing: border-box;
            border-radius: 21px;
        }

        .form-container button {
            background-color: #4caf50;
            color: #fff;
            padding: 10px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            width: 100%;
            border-radius: 21px;
        }

        .form-container button:hover {
            background-color: #45a049;
        }
    </style>
</head>
<body>
    <% var originalUrl, shortUrl; %>
    <div class="form-container">
        <form action="/profile/shorten" style="margin-bottom: 10px ; " method="post">
        <h1 style="text-align: center;">URL Shortner</h1>
        <br  method="post">
    <label for="baseurl">Enter the URL to Shorten</label>
    <input type="text" id="baseurl" name="baseurl" placeholder="Enter URL" required>
    <button type="submit">Submit</button>
    <h3><a href="/" >Logout</a></h3>

    </form>
    <% if (originalUrl && shortUrl) { %>
        
        <p>Shortened URL: <a onclick="showOriginalUrl('<%= originalUrl %>')"  target="_blank"><%= shortUrl %></a></p>
        <div id="originalUrlContainer" style=" overflow-wrap: break-word; "></div>
       
    <% } %>
    </div>
    
    <script>
        function showOriginalUrl(originalUrl) {
            // Update the content with the original URL
            document.getElementById('originalUrlContainer').innerHTML = '<p>Original URL: ' + originalUrl + '</p>';
            
        }
    </script>
   
</body>
</html>